*.run
*.txt
*.pyc
*.bin
*.tsv
*.out
batch.sh

runs_micro/
runs/RES*
runs/SLURM*
runs/program_outputs/*
runs/page_full/
runs/page_ep1/
runs/large/
runs3/
datasets/

plots/heatmaps/*
plots/scaling/*
plots/temp/*
*.log
*.dSYM
plots/*
gui/env_gui/*
