*.run
*.txt
*.pyc
*.bin
*.tsv
*.out
batch.sh

runs_micro/
runs/RES*
runs/SLURM*
runs/program_outputs/*
runs/page_full/
runs/page_ep1/
runs/large/
runs3/
datasets/

sim_logs/*-BHEAT*
sim_counters/*
plots/heatmaps/*
plots/scaling/*
plots/temp/*
*.dSYM
plots/*
*env_gui
